@font-face {
    font-family: common;
    src: url('./Assets/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

:root{
    --primary-color: blue;
    --secondary-color: #222222;
    --border-color: grey;
}

*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: common;
}


hr{
    width: 100%;
    height: 1px;
    background: var(--header-dark);
    opacity: 0.1;
    border: none;
}

img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

ul{
    list-style: none;
}

a{
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

button{
    padding: 0.8em 1.8em;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

.highlight-txt{
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
    border-left: 2px solid var(--primary-color);
    padding-left: 1em;
}


p{
    color: rgb(156, 114, 114);
}

@media only screen and (min-width: 100px){
    .heading-text{
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 500px){
    .heading-text{
        font-size: 2.1em;
    }
}

@media only screen and (min-width: 768px){
    .heading-text{
        font-size: 2.1em;
    }
}

@media only screen and (min-width: 1200px){
    .heading-text{
        font-size: 3em;
    }
}

@media only screen and (min-width: 1450px){
    .heading-text{
        font-size: 4em;
    }
}